<div class="domains section">
  <ul>
  <% @domains.each do |domain| %>
    <li>
    <%= domain.name %><br>
    <%= domain.domain_url %><br>
    <%= domain.domain_username %><br>
    <%= domain.domain_password %><br>
    <%= button_to "Log me in!!", login_domain_url(domain), :method => :get %>
    </li>
  <% end %>
  </ul>
</div>