<% $("h1.title").show() %>
<div id="domains" class="section">
  <a class="button" href="#domains/new">New domain</a>
  <br />
  <div class="row">
  <% if (domains.length == 0) { %>
      <p>No domains are registered yet. Register <a href="#domains/new">new domain</a>.</p>
  <% } %>
  </div>
  <% domains.forEach(function (domain) { %>
    <div class="row">
      <div class="domain-name"><%= domain.escape("name") %></div>
      <div class="domain-url"><a href="<%= domain.escape("domain_url") %>"><%= domain.escape("domain_url") %></a></div>
      <div class="domain-property">
        <a class="edit" href="#domains/<%= domain.id %>/edit" data-id="<%= domain.id %>">Edit</a>
        <div class="delete icon-close" data-id="<%= domain.id %>"></div>
      </div>
    </div>
  <% }); %>
</div>