<% $("h1.title").show() %>
<div id="domains" class="section">
  <a class="button" href="#domains/new">New domain</a>
  <br />
  <div class="row">
  <% if (domains.length == 0) { %>
      <p>No domains are registered yet. Register <a href="#domains/new">new domain</a>.</p>
  <% } %>
  </div>
  <% domains.forEach(function (domain) { %>
    <div class="row">
      <div class="domain-name"><%= domain.escape("name") %></div>
      <div class="domain-url"><a href="<%= domain.escape("domain_url") %>"><%= domain.escape("domain_url") %></a></div>
      <div class="domain-property">
        <a class="edit" href="#domains/<%= domain.id %>/edit" data-id="<%= domain.id %>">Edit</a>
        <div class="delete ion-close" data-id="<%= domain.id %>"></div>
      </div>
    </div>
  <% }); %>

  <div class="section">
    <h4>Don't have your bookmarklet yet?</h4>
    <div class="coachmark-icon"></div>
    <a id="hello-passwordlet" class="button secondary" href="javascript:(function(){ _passwordlet_script=document.createElement('script'); _passwordlet_script.type='text/javascript'; _passwordlet_script.src='https://gentle-taiga-4945.herokuapp.com/bookmarklet'; document.getElementsByTagName('head')[0].appendChild(_passwordlet_script);})();">Hello, Passwordlet!</a>
    <span class="coachmark-help">Just drag this bookmarklet to your bookmarks bar.</span>
  </div>
</div>


<script type="text/javascript">
  animate(".coachmark-icon", "tada");
</script>