<!DOCTYPE html>
<html>
<head>
  <title>Passwordlet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1 class="title"><a href="/">Passwordlet</a></h1>
<div class="nav">
  <% if current_user %>
    <%= link_to "Sign out", destroy_user_session_url, {:method => :delete} %>
  <% else %>
    <%= link_to "Sign in", new_user_session_url %> <span class="divider">|</span> 
    <%= link_to "Sign up", new_user_registration_url %>
  <% end %>
</div>
<div id="loading"></div>
<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
  <% if alert.is_a?(Array) %>
    <% alert.each do |alert_item| %>
      <p class="alert"><%= alert_item %></p>
    <% end %>
  <% else %>
    <p class="alert"><%= alert %></p>
  <% end %>  
<% end %>
  <%= yield %>

</body>
</html>
